/* for the whole elements of a page */
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from {
  opacity: 0;
  transform: translateX(100%);
  transition-delay: 0.4s; /* delay the same as the transition duration */
}
.page-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

/* for the cursor */
#cursor {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* slight shadow for depth */
  pointer-events: none;
  transition: all 0.1s ease;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* for the navbar */
.nav-item {
  margin: 1rem 0;
}
.nav-link {
  margin-right: 1rem;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.nav-link:hover {
  transform: translateY(-0.25rem) scale(1.1);
  color: #4b5563;
  border-bottom: 2px solid #4b5563;
}
.menu-bar-out-enter-active,
.menu-bar-out-leave-active {
  transition: opacity 0.5s;
}

.menu-bar-out-enter-from,
.menu-bar-out-leave-to {
  opacity: 0;
}

.menu-bar-in-enter-active,
.menu-bar-in-leave-active {
  transition: transform 0.5s;
}

.menu-bar-in-enter-from,
.menu-bar-in-leave-to {
  transform: scale(0.5);
}

/* for the navbar icon */
.custom-icon {
  font-size: 40px;
}

/* for the navbar item text */
.nav-item-text {
  font-size: 20px;
}

/* for breadcrumbs */
.breadcrumb-list {
  list-style: none;
  padding: 0;
}
.breadcrumb-item {
  display: inline;
  margin-right: 8px;
}
.breadcrumb-item a {
  text-decoration: none;
  color: #4e91a5; /* Add this line */
}
.breadcrumb-item a:hover {
  color: #235e70; /* Add this line to change color on hover */
}
.breadcrumb-item a.active {
  font-weight: bold;
}
.separator {
  margin: 0 8px;
}
.last-item {
  font-weight: bold;
}

/* for about menu bar */
.about-menu-link {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.about-menu-link:hover {
  transform: translateY(-0.25rem) scale(1.1);
  color: #4b5563;
  border-bottom: 2px solid #4b5563;
}

/* for footer */
.footer-link {
  margin-right: 1rem;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.footer-link:hover {
  transform: translateY(-0.25rem) scale(1.1);
  color: #4b5563;
  border-bottom: 1px solid #4b5563;
}

/* for button to go back to the top of the page */
.top-btn:hover {
  background-color: #3c3e40;
  transition: background-color 0.3s ease;
}
